<%- include("partials/header.ejs") %>
    <div class="reviewsPage">
        <section class="mainReview">
            <h1 class="reviews-title">All User's Reviews</h1>
            <section class="profileContainer">
                <a href="/reviews/newReview"><button class="button">Add a review</button></a>
                <ul class="profileReviewCard">
                    <% reviews.forEach(el  => { %>
                        <li class='reviewCard profileCard flex column' data-id="<%=el._id%>">
                            <h1 class='movieTitle cardHeader'>
                                <%= el.movie %>
                            </h1>
                            <% if(el.userId === user.id){ %>
                                <a href="./editReview/<%= el.id%>" class="fas fa-edit fa-small edit"></a>
                            <%} %>
                            <img class='moviePoster' src="<%= el.poster %>" />
                            <% if(el.rating === 1) { %>
                                <div class="star">★</div>
                                <% } else if (el.rating === 2){ %>
                                    <div class="star">★★</div>
                                    <% } else if (el.rating === 3){ %>
                                        <div class="star">★★★</div>
                                        <% } else if (el.rating === 4){ %>
                                            <div class="star">★★★★</div>
                                            <% } else if (el.rating === 5){ %>
                                                <div class="star">★★★★★</div>
                                                <% } %>
                                                    <p class='movieDesc'><strong>Review:</strong>
                                                        <%= el.review %>
                                                    </p>
                                                    <button class="button-small button" id="addToList">Add to List</button>
                                                    
                                                    
                        </li>
                        <% }) %>
                </ul>

            </section>
        </section>
    </div>
    <%- include("partials/footer.ejs") %>
