<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reviews</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <h1>Reviews</h1>
    <ul class="flex">
    <% reviews.forEach( el => { %>
            <li class='reviewItem flex column' data-id='<%=el._id%>'>
                <span class='title'><%= el.movie %></span>
                <!-- <img class='movieImg'><%= el.img %></img> -->
                <span class='rating'><%= el.rating %></span>
                <p class='review'><%= el.review %></p>
                <span class='del'> Delete </span>
            </li>
    <% }) %>    
    </ul>

    <a href="/reviews/newReview">Add a review</a>

    <a href="/logout">Logout</a>

    <script src="../js/main.js"></script>
</body>
</html>