<%- include("partials/header.ejs") %>
    <section class="reviewsPage">
        <section class="mainReview">
            <h1 class="reviews-title">
                <%= user.userName%>'s Reviews</h1>
            <a href="/reviews/newReview"><button class="button">Add a review</button></a>
            <a href="/reviews/allReviews"><button class="button">Show All Reviews</button></a>

            <div class="profileContainer">
                <ul class="profileReviewCard">
                    <% reviews.forEach( el => { %>
                        <li class='reviewCard profileCard flex column' data-id='<%=el._id%>'>
                            <h1 class='movieTitle cardHeader'>
                                <%= el.movie %>
                            </h1>
                            <img src="<%= el.poster %>" class='moviePoster' />
                            <% if(el.rating===1) { %>
                                <div class="star">★</div>
                                <% } else if (el.rating===2){ %>
                                    <div class="star">★★</div>
                                    <% } else if (el.rating===3){ %>
                                        <div class="star">★★★</div>
                                        <% } else if (el.rating===4){ %>
                                            <div class="star">★★★★</div>
                                            <% } else if (el.rating===5){ %>
                                                <div class="star">★★★★★</div>
                                                <% } %>
                                                    <p class='movieDesc'><strong>Review:</strong><br>
                                                        <%= el.review %>
                                                    </p>
                                                    <button class='del button button-small'>Delete</button>
                        </li>
                        <% }) %>
                </ul>
            </div>
        </section>
    </section>
    <%- include("partials/footer.ejs") %>