<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reviews</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body class="index-background">
    <section class="mainReview">
            <h1 class="reviews-title">Reviews</h1>
    <a href="/reviews/newReview"><button class="button">Add a review</button></a>
    <a href="/reviews/allReviews"><button class="button">Show All Reviews</button></a>
    <a href="/logout"><button class="button">Logout</button></a>

    <div class="profileContainer">
        <ul class="profileReviewCard">
        <% reviews.forEach( el => { %>
            <li class='reviewCard profileCard flex column' data-id='<%=el._id%>'>
                <h1 class='movieTitle cardHeader'><%= el.movie %></h1>
                    <img src="<%= el.poster %>" class='moviePoster'/>
                    <span class='rating'><%= el.rating %></span>
                    <p class='movieDesc'><strong>Review:</strong><br><%= el.review %></p>
                    <button class='del button button-small'>Delete</button>
                </li>
        <% }) %>
        </ul>

    </div>
    </section>
    <script src="../js/main.js"></script>
</body>
</html>