<%- include("partials/header.ejs") %>
    <div class="index-background">
        <section class="mainReview">
            <h1 class="reviews-title">Reviews</h1>
            <a href="/reviews/newReview"><button class="button">Add a review</button></a>

            <div class="profileContainer">
                <ul class="profileReviewCard">
                    <% reviews.forEach( el => { %>
                        <li class='reviewCard profileCard flex column' data-id='<%=el._id%>'>
                            <h1 class='movieTitle cardHeader'>
                                <%= el.movie %>
                            </h1>
                            <img src="<%= el.poster %>" class='moviePoster' />
                            <span class='rating'><%= el.rating %></span>
                            <p class='movieDesc'><strong>Review:</strong><br>
                                <%= el.review %>
                            </p>
                            <button class='del button button-small'> Delete </button>
                        </li>
                        <% }) %>
                </ul>
            </div>
        </section>
    </div>
    <%- include("partials/footer.ejs") %>