<%- include("partials/header.ejs") %>

    <main class="reviewsPage">
        <section class="mainReview">
            <h1 class="watchlistHeader">My Movie Watchlist</h1>

            <div class="container reviewCard">
                <div class="searchContainer">
                    <h2 class="cardHeader">Search:</h2>
                    <input type="text" id="movieSearch" name="movieSearch" placeholder="Search here"/>
                    <button class="searchMovie button button-small">Find My Movie</button>
                    <button class="button-small button" id="submitToList">Add to List</button>
                </div>
                <div class="movieContainer"> 
                    <h3 class="cardHeader">Movie Title: <span class="movieTitle"></span></h3>
                    <img src="" alt="" class="moviePoster">
                    <div>
                        <h3 class="subHeader">Description:</h3>
                        <p class="movieDesc"></p>
                    </div>
                </div>

                <section class="profileContainer">
                    <ul class="profileReviewCard">
                        <% watchlist.forEach( el => { %>
                        <li class='reviewCard profileCard flex column' data-id='<%=el._id%>'>
                            <h1 class='movieTitle cardHeader <%= el.completed === true ? 'completed' : 'not'%>'><%= el.movie %></h1>
                            <img class='moviePoster' src="<%= el.poster %>"/>
                            <span><a class="button-small" href="/reviews/newReview">Write a Review</a></span>
                            <button class='button delete button-small'>Remove</button>
                        </li>
                    <% }) %>    
                    </ul>
                </section>
                
            </div>
        </section>
    </main>
    <script src="/js/watchlist.js"></script>
    <%- include("partials/footer.ejs") %>

